@model  IEnumerable<Suec_Data.Models.TestModel>

<html>
<head>
    <link href="~/Content/Table.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table class="fancytable">
                <tr class="headerrow">
                    <td>Date</td>
                    <td>Locale</td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Promote Price</td>
                </tr>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <tr class="datarowodd">
                    <td> @Html.DisplayFor(modelItem => item.Date1)</td>
                    <td> @Html.DisplayFor(modelItem => item.Locale)</td>
                    <td> @Html.DisplayFor(modelItem => item.Product_Name)</td>
                    <td> @Html.DisplayFor(modelItem => item.Price)</td>
                    <td> @Html.DisplayFor(modelItem => item.Promote_Price)</td>
                </tr>
                    }
                }
        </table>
    </div>
</body>
</html>
